In [ ]:
#Author Adrian Arman

In [1]:
print("Hello worlds!")

Hello worlds!

In [1]:
from IPython.display import IFrame
url = 'https://orbitfutureacademy.id'
IFrame(url, width=800, height=600)

# Morgentliche Sitzung 8-11AM

In [3]:
s = "Namaste World"
print(type(s))
print(s[1])
print(s[:-1])
print(s[1:7:2]) #[1 - 7 dengan lompat 2 character]
print(s[-7:-2:2])
print(s[1:-2:2])

<class 'str'>
a
Namaste Worl
aat
eWr
aat o

In [15]:
s1 = "Hello"; s2 = "World"
print(s1+" "+s2)
print(s1,"",s2)
print(s1[:5]+" "+s2[0:5]*2)
print("ll" in s1)

Hello World
Hello  World
Hello WorldWorld
True

In [18]:
x = "adrian arman"
print(x.upper())
print(x.lower())

ADRIAN ARMAN
adrian arman

In [19]:
a = "Adrian"
b = 20
print("My name is %s, I %s years old" %(a,b))
print("My name is {}, I {} years old".format(a,b))

My name is Adrian, I 20 years old
My name is Adrian, I 20 years old

# Nachmittagssitzung 1-3PM

In [28]:
print(2%100) #Modulo
import math as m
A = m.cos(90)**3/2
print(A, "-->", type(A), "-->", int(A))

2
-0.04497986221937569 --> <class 'float'> --> 0

In [56]:
#List 
L = [1,2,3,4,"Yanto",True, "Jhondoe"]
print(L)
print(L[0], " ", L[1:], " ", L[-5:-1:2], " ", L[4].upper())
print((len(L)**3)%4/3+5j * m.cos(45))
L.append("Sir William Armand")
print(L)
L.remove(3)
print(L)

[1, 2, 3, 4, 'Yanto', True, 'Jhondoe']
1   [2, 3, 4, 'Yanto', True, 'Jhondoe']   [3, 'Yanto']   YANTO
(1+2.626609944088649j)
[1, 2, 3, 4, 'Yanto', True, 'Jhondoe', 'Sir William Armand']
[1, 2, 4, 'Yanto', True, 'Jhondoe', 'Sir William Armand']

In [60]:
J = ["Baizal", False, "Mamat", int(m.sinh(70))]
L.extend(J)
print(L)

[1, 2, 4, 'Yanto', True, 'Jhondoe', 'Sir William Armand', 'Baizal', False, 'Mamat', 1.2577193354595834e+30, 'Baizal', False, 'Mamat', 1257719335459583439894665494528]

In [61]:
J.insert(2, "Hans Landa")
print(J)

['Baizal', False, 'Hans Landa', 'Mamat', 1257719335459583439894665494528]

In [68]:
#Dictionary
dict = {"Prime":[2,3,5,7,11], "int":[1,2,3,4], "Float":[m.cosh(7),m.sinh(70)], "x":7.7}
dict['x'] = 9
print(dict)

{'Prime': [2, 3, 5, 7, 11], 'int': [1, 2, 3, 4], 'Float': [548.3170351552121, 1.2577193354595834e+30], 'x': 9}

In [81]:
#Set
Set = {1,1,2,3,4,4,4,9,"Armand"}
Set.add(10)
print(Set)

{1, 2, 3, 4, 'Armand', 9, 10}

In [85]:
#Tuple
T = (1,2,3,5j+6,9.99,m.cosh(6.63*10**-1),"Bicycle")
print(T)
z = 0
for i in range(7):
    print(T[z])
    z += 1

(1, 2, 3, (6+5j), 9.99, 1.2279542653394917, 'Bicycle')
1
2
3
(6+5j)
9.99
1.2279542653394917
Bicycle

In [5]:
#is not , is operator pembanding berdasarkan object yang di create di memory
a = [1,2]
b = [1,2]
print(a is b)
print(a is not b)

False
True

In [6]:
a = b
print(a is b)

True

In [7]:
#Input
x = input("Masukan nama : ")
if x == "Yanto":
    print(True)
else :
    print(False)

Masukan nama : Yanto
True

In [18]:
L = [1,2,3,5,6,44,3,5]
for i in L:
    if(i == 44):
        break #Stop, next elemen will not printed
    else :
        print(i)
print('------------')
for i in L:
    if(i == 44):
        continue #Stop, when the variable are same but next elemen will printed
    else :
        print(i)
print('------------')
for i in L:
    if(i == 44):
        pass #Like a continue but nothing to do
    else :
        print(i)

1
2
3
5
6
------------
1
2
3
5
6
3
5
------------
1
2
3
5
6
3
5

In [19]:
#Comperhension make list with simplicity
L = [2,3,4,5,6,6]
new_list = [ele**2 for ele in L]
new_list

[4, 9, 16, 25, 36, 36]

In [20]:
L = [2,3,4,5,6,6]
x = []
for i in L:
    x.append(i ** 2)
x

[4, 9, 16, 25, 36, 36]

In [25]:
#Comperhension Dictionary
dict = {"A":10, "B": 30, "C":30.888}
new_dict = {key:value+10 for (key,value) in dict.items()}
new_dict.items()

dict_items([('A', 20), ('B', 40), ('C', 40.888000000000005)])

In [28]:
new_dict.values()

dict_keys(['A', 'B', 'C'])

In [31]:
for i in dict.items():
    print(i)
print('---------')
for (key,value) in dict.items():
    print(key,value)

('A', 10)
('B', 30)
('C', 30.888)
---------
A 10
B 30
C 30.888